@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.contact-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  overflow: hidden;

}

.contact-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-name {
  font-size: 1.6rem;
}

.button-hidden {
  border: none;
  background: none;
}